.sprite { background-image: url('Start.png'); background-color: transparent; background-repeat: no-repeat; }
.Sample_000000 { width: 529px; height: 298px; background-position: 0px 0px; }
.Sample_000001 { width: 529px; height: 298px; background-position: 0px -298px; }
.Sample_000002 { width: 529px; height: 298px; background-position: 0px -596px; }
.Sample_000003 { width: 529px; height: 298px; background-position: 0px -894px; }
.Sample_000004 { width: 529px; height: 298px; background-position: 0px -1192px; }
.Sample_000005 { width: 529px; height: 298px; background-position: 0px -1490px; }
.Sample_000006 { width: 529px; height: 298px; background-position: 0px -1788px; }
.Sample_000007 { width: 529px; height: 298px; background-position: 0px -2086px; }
.Sample_000008 { width: 529px; height: 298px; background-position: 0px -2384px; }
.Sample_000009 { width: 529px; height: 298px; background-position: 0px -2682px; }
.Sample_000010 { width: 529px; height: 298px; background-position: 0px -2980px; }
.Sample_000011 { width: 529px; height: 298px; background-position: 0px -3278px; }
.Sample_000012 { width: 529px; height: 298px; background-position: 0px -3576px; }
.Sample_000013 { width: 529px; height: 298px; background-position: 0px -3874px; }
.Sample_000014 { width: 529px; height: 298px; background-position: 0px -4172px; }
.Sample_000015 { width: 529px; height: 298px; background-position: 0px -4470px; }
.Sample_000016 { width: 529px; height: 298px; background-position: 0px -4768px; }
.Sample_000017 { width: 529px; height: 298px; background-position: 0px -5066px; }
.Sample_000018 { width: 529px; height: 298px; background-position: 0px -5364px; }
.Sample_000019 { width: 529px; height: 298px; background-position: 0px -5662px; }
.Sample_000020 { width: 529px; height: 298px; background-position: 0px -5960px; }
.Sample_000021 { width: 529px; height: 298px; background-position: 0px -6258px; }
.Sample_000022 { width: 529px; height: 298px; background-position: 0px -6556px; }
.Sample_000023 { width: 529px; height: 298px; background-position: 0px -6854px; }
.Sample_000024 { width: 529px; height: 298px; background-position: 0px -7152px; }
.Sample_000025 { width: 529px; height: 298px; background-position: 0px -7450px; }
.Sample_000026 { width: 529px; height: 298px; background-position: 0px -7748px; }
.Sample_000027 { width: 529px; height: 298px; background-position: 0px -8046px; }
.Sample_000028 { width: 529px; height: 298px; background-position: 0px -8344px; }
.Sample_000029 { width: 529px; height: 298px; background-position: 0px -8642px; }
.Sample_000030 { width: 529px; height: 298px; background-position: 0px -8940px; }
.Sample_000031 { width: 529px; height: 298px; background-position: 0px -9238px; }
.Sample_000032 { width: 529px; height: 298px; background-position: 0px -9536px; }
.Sample_000033 { width: 529px; height: 298px; background-position: 0px -9834px; }
.Sample_000034 { width: 529px; height: 298px; background-position: 0px -10132px; }
.Sample_000035 { width: 529px; height: 298px; background-position: 0px -10430px; }
.Sample_000036 { width: 529px; height: 298px; background-position: 0px -10728px; }
.Sample_000037 { width: 529px; height: 298px; background-position: 0px -11026px; }
.Sample_000038 { width: 529px; height: 298px; background-position: 0px -11324px; }
.Sample_000039 { width: 529px; height: 298px; background-position: 0px -11622px; }
.Sample_000040 { width: 529px; height: 298px; background-position: 0px -11920px; }
.Sample_000041 { width: 529px; height: 298px; background-position: 0px -12218px; }
.Sample_000042 { width: 529px; height: 298px; background-position: 0px -12516px; }
.Sample_000043 { width: 529px; height: 298px; background-position: 0px -12814px; }
.Sample_000044 { width: 529px; height: 298px; background-position: 0px -13112px; }
.Sample_000045 { width: 529px; height: 298px; background-position: 0px -13410px; }
.Sample_000046 { width: 529px; height: 298px; background-position: 0px -13708px; }
.Sample_000047 { width: 529px; height: 298px; background-position: 0px -14006px; }
.Sample_000048 { width: 529px; height: 298px; background-position: 0px -14304px; }
.Sample_000049 { width: 529px; height: 298px; background-position: 0px -14602px; }
.Sample_000050 { width: 529px; height: 298px; background-position: 0px -14900px; }
.Sample_000051 { width: 529px; height: 298px; background-position: 0px -15198px; }
.Sample_000052 { width: 529px; height: 298px; background-position: 0px -15496px; }
.Sample_000053 { width: 529px; height: 298px; background-position: 0px -15794px; }
.Sample_000054 { width: 529px; height: 298px; background-position: 0px -16092px; }
.Sample_000055 { width: 529px; height: 298px; background-position: 0px -16390px; }
.Sample_000056 { width: 529px; height: 298px; background-position: 0px -16688px; }
.Sample_000057 { width: 529px; height: 298px; background-position: 0px -16986px; }
.Sample_000058 { width: 529px; height: 298px; background-position: 0px -17284px; }
.Sample_000059 { width: 529px; height: 298px; background-position: 0px -17582px; }
.Sample_000060 { width: 529px; height: 298px; background-position: 0px -17880px; }
.Sample_000061 { width: 529px; height: 298px; background-position: 0px -18178px; }
.Sample_000062 { width: 529px; height: 298px; background-position: 0px -18476px; }
.Sample_000063 { width: 529px; height: 298px; background-position: 0px -18774px; }
.Sample_000064 { width: 529px; height: 298px; background-position: 0px -19072px; }
.Sample_000065 { width: 529px; height: 298px; background-position: 0px -19370px; }
.Sample_000066 { width: 529px; height: 298px; background-position: 0px -19668px; }
.Sample_000067 { width: 529px; height: 298px; background-position: 0px -19966px; }
.Sample_000068 { width: 529px; height: 298px; background-position: 0px -20264px; }
.Sample_000069 { width: 529px; height: 298px; background-position: 0px -20562px; }
.Sample_000070 { width: 529px; height: 298px; background-position: 0px -20860px; }
.Sample_000071 { width: 529px; height: 298px; background-position: 0px -21158px; }
.Sample_000072 { width: 529px; height: 298px; background-position: 0px -21456px; }
.Sample_000073 { width: 529px; height: 298px; background-position: 0px -21754px; }
.Sample_000074 { width: 529px; height: 298px; background-position: 0px -22052px; }
.Sample_000075 { width: 529px; height: 298px; background-position: 0px -22350px; }
.Sample_000076 { width: 529px; height: 298px; background-position: 0px -22648px; }
.Sample_000077 { width: 529px; height: 298px; background-position: 0px -22946px; }
.Sample_000078 { width: 529px; height: 298px; background-position: 0px -23244px; }
.Sample_000079 { width: 529px; height: 298px; background-position: 0px -23542px; }
.Sample_000080 { width: 529px; height: 298px; background-position: 0px -23840px; }
.Sample_000081 { width: 529px; height: 298px; background-position: 0px -24138px; }
.Sample_000082 { width: 529px; height: 298px; background-position: 0px -24436px; }
.Sample_000083 { width: 529px; height: 298px; background-position: 0px -24734px; }
.Sample_000084 { width: 529px; height: 298px; background-position: 0px -25032px; }
.Sample_000085 { width: 529px; height: 298px; background-position: 0px -25330px; }
.Sample_000086 { width: 529px; height: 298px; background-position: 0px -25628px; }
.Sample_000087 { width: 529px; height: 298px; background-position: 0px -25926px; }
.Sample_000088 { width: 529px; height: 298px; background-position: 0px -26224px; }
.Sample_000089 { width: 529px; height: 298px; background-position: 0px -26522px; }
.Sample_000090 { width: 529px; height: 298px; background-position: 0px -26820px; }
.Sample_000091 { width: 529px; height: 298px; background-position: 0px -27118px; }
.Sample_000092 { width: 529px; height: 298px; background-position: 0px -27416px; }
